@font-face
  font-family PT-Sans-Bold
  src url('../fonts/PT-Sans-Bold.woff') format('woff')

@font-face
  font-family PT-Sans-Narrow
  src url('../fonts/PT-Sans-Narrow.woff') format('woff')

@font-face
  font-family PT-Sans-Narrow-Bold
  src url('../fonts/PT-Sans-Narrow-Bold.woff') format('woff')

@font-face
  font-family PT-Sans-Regular
  src url('../fonts/PT-Sans-Regular.woff') format('woff')

@font-face
  font-family Roboto-Medium
  src url('../fonts/Roboto-Medium.woff') format('woff')

@font-face
  font-family RobotoCondensed-Bold
  src url('../fonts/RobotoCondensed-Bold.woff') format('woff')

@font-face
  font-family OpenSans-Regular
  src url('../fonts/OpenSans-Regular.woff') format('woff')