extends ../layout/main

block variables
  - var title = 'Pantomax'
  - var pageClass = 'index-page'

block content
  include ../sections/home-section
  include ../sections/question-section
  include ../sections/pleasure-section
  include ../sections/advantages-section