.advantages-section
  padding-bottom 70px
  background-position 20% bottom
  background-repeat no-repeat
  text-align center
  &__title
    margin-bottom 40px
    font-family PT-Sans-Narrow
    font-size rem(48)
    line-height 1.1
    text-transform uppercase
    color #ffffff
    b
      font-family PT-Sans-Narrow-Bold
    span
      color #fc481a

.advantages-content
  display flex
  align-items flex-start

.advantages-product-img
  width 35%
  margin-top 30px
  margin-right 10px

.advantages-list
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-gap 10px 20px

.advantages-item
  border-radius 10px
  background-color #ffffff
  text-align center
  &__img
    width 100%
    height auto
    border-radius 10px 10px 5px 5px
  &__text
    padding 25px 0
    font-family PT-Sans-Bold
    font-size rem(15.9)
    color #0b0b0b