.pleasure-section
  margin-bottom 60px
  padding 25px 37% 35px 40px
  border-radius 10px
  background-color #ffffff
  background-repeat no-repeat
  background-position top right
  &__title
    margin-bottom 23px
    font-family PT-Sans-Narrow-Bold
    font-size rem(48)
    line-height 1.1
    text-transform uppercase
    color #000000
    span
      color #fc481a
  &__text
    font-family PT-Sans-Regular
    font-size rem(17)
    line-height 1.5
    color #000000
    b
      font-family PT-Sans-Bold
      text-transform: uppercase