section(style="background-image: url('img/backgrounds/advantages-bg.png')").advantages-section
  .container
    h1.advantages-section__title.
      <b>Преимущества</b> пантовых орешек <b>Panto<span>MAX</span></b>
    .advantages-content
      img(src='img/advantages/advantages-product.png').advantages-product-img
      .advantages-list
        .advantages-item
          img(src='img/advantages/advantage-1.jpg').advantages-item__img
          p.advantages-item__text.
            Дарит яркие <br> оргазмы
        .advantages-item
          img(src='img/advantages/advantage-2.jpg').advantages-item__img
          p.advantages-item__text.
            Нормализует <br> гормональный фон
        .advantages-item
          img(src='img/advantages/advantage-3.jpg').advantages-item__img
          p.advantages-item__text.
            Избавляет от эректильной <br> дисфункции
        .advantages-item
          img(src='img/advantages/advantage-4.jpg').advantages-item__img
          p.advantages-item__text.
            Улучшает <br> кровообращение <br> в организме
        .advantages-item
          img(src='img/advantages/advantage-5.jpg').advantages-item__img
          p.advantages-item__text.
            Повышает тонус <br> и жизненные силы
        .advantages-item
          img(src='img/advantages/advantage-6.jpg').advantages-item__img
          p.advantages-item__text.
            Регулирует либидо <br> и желание