.container
  section(style='background-image: url("img/backgrounds/doctor-recommend-bg.png")').doctor-recommend-section
    h1.doctor-recommend-section__title.
      Мнение <span>врача</span>
    .doctor-recommend__text
      p 50% мужчин до 35 лет имеют проблемы с эрекцией. Поэтому при первых же признаках необходимо брать быка за рога и решать проблему.
      p Я своим пациентам советую пантовые орешки Пантомакс, это натуральный препарат, который отлично влияет не только на потенцию, но и на весь организм.
      p При приеме Пантомакс у мужчины нормализуется работа сосудов и повышается потенция. Одним из действий препарата также является улучшение психоэмоциональной составляющей сексуальной жизни. Препарат поможет поддержать эрекцию во время всего полового акта. При этом эффект пантовых орешков не зависит от времени их приема.
    img(src='img/content/doctor.png').doctor-recommend__doctor-img
    .doctor-recommend-signature
      p.doctor-recommend-signature__name Ильнур Мухазин, врач-андролог, к.м.н.
      img(src='img/content/signature.png').doctor-recommend-signature__img