section(style='background-image: url("img/backgrounds/home-bg.png")').home
  .container
    .top-line
      .logo.top-line__logo
        img(src='img/content/logo-img.png', alt='logo-icon').logo__icon
        a(href='#').logo__text
          img(src='img/content/logo-text.png', alt='logo-text')
      .top-line-garanties
        .garanty.top-line__garanty
          img(src='img/icons/leaf.png', alt='leaf').garanty__icon
          .garanty-desc
            span.garanty-desc__percents 100%
            span.garanty-desc__text натурально
        .garanty.top-line__garanty
          img(src='img/icons/like.png', alt='leaf').garanty__icon
          .garanty-desc
            span.garanty-desc__percents 100%
            span.garanty-desc__text эффективно
    h1.home-title Сколько раз за ночь ты можешь?
    .home-content
      .product-desc
        p.product-tagline.
          Пантомакс – каменный стояк для неприличных рекордов
        ul.product-actions
          li.product-actions__item Мощная эрекция и потенция
          li.product-actions__item Занимайся сексом сколько хочешь
          li.product-actions__item Получай космические оргазмы
          li.product-actions__item.
            Гарантированный стояк <br> до 3-х часов
        .product-images
          img(src='img/content/product-box.png', alt='phantomax-box').product-images__box
          img(src='img/content/product-bottle.png', alt='phantomax-bottle').product-images__bottle
      .sale.home-sale
        img(src='img/content/sale.png').sale__img
        p.sale__text.
          Ваша потенция вернется через 21 день <br> применения! Проверьте сами
      .one-click-buy
        .sale-info
          .sale-info-numbers
            .sale-info-numbers__item.sale-info-numbers__item_no-active 0
            .sale-info-numbers__item 1
            .sale-info-numbers__item 0
          p.sale-info__text.
            Всего упаковок <br> по акции
        .one-click-form
          .one-click-form-prices
            .one-click-form-price.one-click-form-price_sale
              span.one-click-form-price__text Полная цена
              del.one-click-form-price__price 1980
              span.one-click-form-price__unit руб
            .one-click-form-price
              span.one-click-form-price__text Цена со скидкой
              span.one-click-form-price__price 990
              span.one-click-form-price__unit руб
          .one-click-form-fields
            input(type='text', placeholder='Введите ваше имя').one-click-form-fields__name
            input(type='tel', placeholder='Введите номер телефона').one-click-form-fields__phone
            button.one-click-form-fields__button Заказать сейчас
          .one-click-form-sequre
            img(src='img/icons/lock.png', alt='lock').one-click-form-sequre__img
            p.one-click-form-sequre__text Ваши данные под защитой SecureTECH