.container
  section(style='background-image: url("img/backgrounds/max-pleasure-bg.png")').pleasure-section
    h1.pleasure-section__title.
      Panto<span>MAX</span> – максимальное удовольствие в сексе
    p.pleasure-section__text.
      <b>Пантовые орешки</b> – экопродукт, в состав которого входят натуральные компоненты. Препарат абсолютно совместим с клеточными жидкостями, быстро проникает в кровь и начинает действовать уже через 30 минут. Биогенный комплекс орешек действует на половые и репродуктивные функции мужского организма, эндокринные функции, гормональный статус. Также Название оказывает многоплановое действие на функции
      и состояние мозга, сердечно-сосудистой, пищеварительной, нервной, иммунной систем.