section(style='background-image: url("img/backgrounds/question-bg.png")').question-section
  .container
    .question-heading
      h2.question-heading__title.
        Проблема <span>ума</span> или <span>тела</span>?
      p.question-heading__subtitle Ответьте всего на 2 вопроса и узнайте свой тип импотенции
    .question-form
      .question-form-title
        span.question-form-title__number 1
        p.question-form-title__text Как уменьшалась эрекция?
      .question-form-answers
        .question-form-answers__button
          .question-form-answers__text Постепенно
        .question-form-answers__button
          .question-form-answers__text Внезапно